.button:hover{
     /* -fx-text-fill:white; */
    /* -fx-font-weight:bold;  */
    -fx-cursor: hand;
    cursor: hand;

}
.button{
    /* -fx-effect: dropshadow(3px 3px 5px rgba(0, 0, 0, 0.5)); */
    -fx-effect: dropshadow(gaussian, rgba(101, 149, 237, 0.41), 10, 0.5, 6, 4);

}
.textfield{
    -fx-font-weight:bold;
    font-weight: bold;
    -fx-font-size:14;
    font-size: 14;
}
.headtext{
    -fx-effect: dropshadow(gaussian, rgb(196, 216, 223), 10, 0.5, 12, 6);
}